!AMPL_2012_eex_price_15min_clean.dat

!readme*

!*README*

!*spec.txt*

!*_final.png
*.pyc

*.dat

*.csv

*.h5

*subFiles

*ipynb

*.txt

.pydevproject

.project

*.DS_Store

*.png

*.pdf

*.ipynb_checkpoints

*ipynb

*.eps
